<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>
  
  <p>
    <strong>Last Name:</strong>
    <%= user.last_name %>
  </p>

  <div>
    <% user.transfer.each do |f| %>
      <p><%= f.file %></p>
      <%= button_to "Destroy this transfer", f, method: :delete %>
      <% if f.sharable_link %>
        <%= f.sharable_link %>
      <% else %>
      <%# <%= button_to "Generate Sharable Link", "short_link/#{transfer.id}", method: :post%> %>
      <% end %>
    <% end %>
  </div>

</div>
