<div id="<%= dom_id transfer %>">
  <p>
    <strong>Title:</strong>
    <%= transfer.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= transfer.type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transfer.description %>
  </p>

  <p>
    <strong>Sharable link:</strong>
    <%= transfer.sharable_link %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transfer.user_id %>
  </p>

</div>
