<div id="<%= dom_id transfer %>">
  <p>
    <strong>Title:</strong>
    <%= transfer.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= transfer.type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transfer.description %>
  </p>

  <p>
    <strong>Sharable link:</strong>
    <% if transfer.sharable_link %>
      <%= transfer.sharable_link %>
    <% else %>
      <%= button_to "Generate Sharable Link", "/short_link/#{transfer.id}", method: :post%>
    <% end %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transfer.user_id %>
  </p>

</div>
